<div class = "card-columns">
<div *ngFor="let cancion of canciones" class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img [src]="cancion.images[0].url" class="card-img-top" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">
              {{cancion.name}}

            </h5>
            <p class="card-text">
              <span *ngFor='let artista of cancion.artists' class="badge rounded-pill bg-success">
                {{artista.name}}
              </span>
            </p>
          </div>
        </div>
      </div>
